<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>chekin,mutton, etc</param-name>
  </context-param>
  <servlet>
    <servlet-name>my1</servlet-name>
    <servlet-class>first.Servlet1</servlet-class>
    <init-param/>
  </servlet>
  <servlet-mapping>
    <servlet-name>my1</servlet-name>
    <url-pattern>/url1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>my2</servlet-name>
    <servlet-class>first.ABCServlet</servlet-class>
    <init-param>
      <param-name>TabeName</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>my2</servlet-name>
    <url-pattern>/url2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>first.SecondServlet</servlet-class>
    <init-param>
      <description>Hotel Table</description>
      <param-name>TableName</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <description>Iam Weighter</description>
      <param-name>MyName</param-name>
      <param-value>Khan</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>first.Servlet2</servlet-class>
    <init-param>
      <description>This is second project</description>
      <param-name>khan</param-name>
      <param-value>10</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServlet</display-name>
    <servlet-name>HttpServlet</servlet-name>
    <servlet-class>javax.servlet.http.HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServlet</servlet-name>
    <url-pattern>/HttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet3</display-name>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>first.Servlet2</servlet-class>
    <init-param>
      <description>Nellore</description>
      <param-name>Khan</param-name>
      <param-value>25</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
</web-app>